defusedxml==0.7.1
fit2gpx==0.0.7
geopandas==1.0.1
geopy==2.4.1
gpxpy==1.6.2
numpy==2.1.2
openpyxl==3.1.2
overpy==0.7
pandas==2.2.3
pydub==0.25.1
python_dateutil==2.8.2
Requests==2.32.3
Werkzeug==3.0.6
xlsxwriter==3.2.0
xlwings==0.33.3
